div.main{
    display: flex;
    width: 100%;
    justify-content: space-around;
    .leftPanel{
        flex-basis: 300px;
        flex-grow: 1;
        flex-shrink: 0;
        height: 100%;
    }   
    .rightPanel{
        flex-basis: 0;
        flex-grow: 4;
        flex-shrink: 1;
        height: 100%;
        overflow-x: hidden;
    }
}