div.main {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;

    .leftPanel {
        flex-basis: 300px;
        flex-grow: 2;
        height: 100%;
    }

    .rightPanel {
        flex-basis: 300px;
        flex-grow: 7;
        height: 100%;
        overflow-x: hidden;
    }
}